.body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome{
    font-size: 70px;
    text-transform: uppercase;
    margin: 0;
}
.banner-img{
    
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
}
.banner-text p{
    padding: 0 8px;
    font-family: merienda;
}
.banner-text a{
    color:  #6d9773;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 15px;
    padding: 10px 50px;
    font-size: 18px; 
    border: 2px solid #fff;
    display: inline-block;
    text-decoration: none; 
}