.bio{
    max-width: 100%;
    max-height: 100%;
    margin: 0 10px;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    padding: 10px 10px;
    text-justify: auto;
    
}

.cardHeader{
    
    color:  #6d9773;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 15px;
    padding: 10px 50px;
    font-size: 18px; 
    border: 2px solid #fff;
    display: inline-block;
    text-decoration: none; 
}

.personalBio{
    font-size: 14px;
    color: #29293a;
    font-weight: 300;
}
.cardBody{
    margin: 0px;
    padding: 10px;
}
